.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}

.pokemon-card-center {
    display: block;
    text-align: center;
}

pagination-controls {
    text-align: center;
    margin: 2px;
}
